/* Selektor für Klassen (mehrere Tags): Punkt (.) */
.redTitle{
    color:red /* Text-Farbe auf "blue" ändern */
}

/* Selektor für IDs (nur ein Tag): Hashtag (#) */
#blueBg{
    background-color: blue; /* Hintergrundfarbe auf "blue" ändern */
    color:white /* Text-Farbe auf "white" ändern */
}